<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <title>Emotion Recognition</title>

  </head>
  <body>
    <a href="/">
      <img src = "/static/CSS/images/head.png" width="100%">
    </a>
    <br>

 {% block body %}

  <!--
  Audio emotion recognition presentation
  -->
  <div class="row">
      <div class="column_home" id="left-col" align="center">
        <img src = "/static/CSS/images/audio.png" width="100%">
        <div style="width:70%; text-align:justify; align-content:center; display:inline-block;">
          <p> Use the audio emotion recognition tool and get feedback on how our algorithm interprets your vocal emotions.</p>
          <br>
          <p> You will be provided a feedback on your vocal emotions such as :
          <ul>
            <li>Anger</li>
            <li>Happiness</li>
            <li>Fear</li>
            <li>Sadness</li>
            <li>Surprise</li>
            <li>Disgust</li>
          </ul>
          <br>
          <br>
        </div>
      </div>
  </div>


  <div class="row">
     <!--
     Audio emotion button
     -->
     <div class="column_home" id="left-col" align="center">
         <form action="/audio_index" method="post" align="center">
         <input type="submit" name="audio_index" value="Start Voice Emotion Test" align="center">
       </form>
     </div>
  </div>

<br>
<br>
<br>

      {# Fin du bloc "body" #}
    {% endblock %}

    <br>
    <br>
    <a href="/rules">How does it work ?</a>
    <br>
    <br>

  </body>
</html>